<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            body{
                font-family:arial;
            }
        </style>
    </head>
    <body>
        <h1>Things I need to do...item form</h1>
        
        <form method='POST'>
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" id='name'/><br>
            <br>
            <label for="done">Done:</label>
            <input type="checkbox" name="done" id='done'/><br>
            <br>
            <input type="submit" value="Submit"/>
        </form>
        
    </body>
</html>